.separator {
	width: 295px;
	height: 1px;
	background-color: #e3e3e4;
	margin-top: 92px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 375px) {
	.separator {
		width: 480px;
		margin-top: 735px;

		margin-left: 100px;
		margin-right: auto;
	}
}
