@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.icon-container:hover svg path {
	fill: #fff;
	opacity: 1;
}

/* input:active {
	background-color: aqua;
}

input:focus {
	background-color: green;
	border: none;
}

input:hover {
	background-color: blueviolet;
} */
